<script lang="ts">
  import chroma from 'chroma-js'

  export let colour: string
  export let cornerOnly = false

  let bgBottomLeft = chroma(colour).alpha(0.6).css('hsl')
  let bgTopRight = chroma(colour).desaturate(3).alpha(0.5).css('hsl')
  let bottomRightDistance = '0%'

  if (cornerOnly) {
    bgBottomLeft = chroma('white').alpha(0.5).css('hsl')
    bgTopRight = chroma(colour).alpha(0.6).css('hsl')

    bottomRightDistance = '20%'
  }
</script>

<style>
  .colouredBox {
    background: linear-gradient(
      20deg,
      var(--bgBottomLeft) var(--bottomRightDistance),
      var(--bgTopRight)
    );
    color: rgb(123, 233, 194);
    z-index: 3;
    /* transition: all 0.15s; */
  }
</style>

<div
  on:click
  class="w-full h-12 border border-gray-100 rounded cursor-pointer colouredBox hover:border-gray-400"
  style="--bgTopRight:{bgTopRight}; --bgBottomLeft:{bgBottomLeft}; --bottomRightDistance:{bottomRightDistance};"
/>
