<script>
  import { coloursRGBA } from '../utils/colours'
  import { createEventDispatcher } from 'svelte'
  import { compareAsc } from 'date-fns'

  const dispatch = createEventDispatcher()

  export let selectedColour: string

  const handleClick = (colour: string) => {
    dispatch('colourChanged', {
      colour,
    })
  }
</script>

<style>
  .selected {
    @apply bg-gray-700;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    @apply cursor-default;
    transition: all 0.15s;
    cursor: default;
    pointer-events: none;
  }
</style>

<div>
  <div class="grid grid-cols-6 gap-4">
    {#each coloursRGBA as colour}
      <!-- COLOUR SQUARE-->
      <div
        class="w-8 h-8 border rounded-md cursor-pointer bg-opacity-80"
        class:selected={colour === selectedColour}
        style="background-color: {colour}; border-color: {colour};"
        on:click={() => handleClick(colour)}
      />
    {/each}
  </div>
</div>
