<script lang="ts">
  import { format, parseISO } from 'date-fns'
  export let date: string
</script>

<style>
  .dayLabel {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
  }
  .dayShorthand {
    @apply text-sm;
  }
  .dayNumber {
    @apply text-xs;
  }
</style>

<div on:click class="dayLabel">
  <div class="dayShorthand">{format(parseISO(date), 'iii')}</div>
  <div class="dayNumber">{format(parseISO(date), 'd')}</div>
</div>
