<script lang="ts">
  import range from 'lodash.range'

  import EffortBox from './EffortBox.svelte'
  import TaskSelectionDialog from './TaskSelectionDialog.svelte'
  import { Machine, assign } from 'xstate'
  import ColouredBox from './ColouredBox.svelte'
  import { useMachine } from '../utils/useMachine'

  import type { Effort } from '../types/types.type'
  import { timeSettings } from '../stores/timeSettings'
  import QtrHourBox from './QtrHourBox.svelte'

  const hourWidth = $timeSettings.hourWidth
  const earliestHour = $timeSettings.earliestHour
  const latestHour = $timeSettings.latestHour
  const hours = range(earliestHour, latestHour + 1) || []

  export let dateStr: string
  export let efforts: Effort[]

  interface NewEffortMachineContext {
    start: number
    end: number
  }

  const newEffortMachine = Machine<NewEffortMachineContext>({
    id: 'newEffort',
    initial: 'inactive',
    context: {
      start: 0,
      end: 0,
    },
    states: {
      inactive: {
        on: {
          CLICK: {
            target: 'defining_period',
            actions: assign((context, event) => ({
              ...context,
              start: event.time,
              end: event.time + 0.25,
            })),
          },
        },
      },
      defining_period: {
        on: {
          CLICK: {
            target: 'picking_task',
            actions: assign((context, event) => {
              if (event.time > context.start) {
                // keep same
                return {
                  start: context.start,
                  end: event.time + 0.25,
                }
              } else {
                // swap
                return {
                  start: event.time,
                  end: context.start + 0.25,
                }
              }
            }),
          },
          CLICK_OUTSIDE: 'inactive',
        },
      },
      picking_task: {
        on: {
          PICK_TASK: {
            target: 'inactive',
            actions: assign(() => ({
              start: 0,
              end: 0,
            })),
          },
          EXIT: {
            target: 'inactive',
            actions: assign(() => ({
              start: 0,
              end: 0,
            })),
          },
        },
      },
    },
  })
  const { state, send } = useMachine(newEffortMachine)
</script>

<style>
  .hourDash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cbd5e0;
    width: 1px;
    z-index: 1;
  }

  .label {
    transform: translateX(-50%) translateY(-50%);
    top: 105%;
  }
  .label > * {
    width: 25px;
  }
  .currentMachineState {
    font-size: 2rem;
    font-family: monospace;
    position: absolute;
    left: 100%;
  }
</style>

<div class="relative flex items-center max-w-3xl">
  {#each hours as hour}
    <div
      class="relative flex items-center h-16"
      style="min-width: {hour !== latestHour ? hourWidth : 0}px"
    >
      <div class="left-0 h-10 hourDash" />
      {#if hour !== latestHour}
        <div class="h-1 hourDash left-1/4" />
        <div class="h-3 hourDash left-1/2" />
        <div class="h-1 hourDash left-3/4" />
      {/if}
      <div class="left-0 h-12">
        <QtrHourBox on:click={() => send({ type: 'CLICK', time: hour + 0 })} />
      </div>
      {#if hour !== latestHour}
        <div class="absolute w-full h-12 left-1/4">
          <QtrHourBox
            on:click={() => send({ type: 'CLICK', time: hour + 0.25 })}
          />
        </div>
        <div class="absolute w-full h-12 left-1/2">
          <QtrHourBox
            on:click={() => send({ type: 'CLICK', time: hour + 0.5 })}
          />
        </div>
        <div class="absolute w-full h-12 left-3/4">
          <QtrHourBox
            on:click={() => send({ type: 'CLICK', time: hour + 0.75 })}
          />
        </div>
      {/if}
      <div class="absolute transition-opacity duration-300 select-none label">
        <div class="text-xs text-center text-gray-500">{hour}</div>
      </div>
    </div>
  {/each}

  {#each efforts as effort (effort._id)}
    <EffortBox {effort} />
  {/each}
  {#if !$state.value !== 'inactive'}
    <div
      class="absolute inset-y-0 flex items-center"
      style="left: {hourWidth * ($state.context.start - earliestHour)}px; width:{hourWidth * ($state.context.end - $state.context.start)}px"
    >
      <ColouredBox
        colour="silver"
        on:click={() => {
          debugger
          if ($state.matches('defining_period')) {
            send({ type: 'CLICK', time: $state.context.start })
          }
        }}
      />
    </div>
  {/if}
  <!-- <div class="text-red-700 currentMachineState">
    {$state.toStrings().join(' ')}
    {$state.context.start}
    {$state.context.end}
  </div> -->
</div>
<TaskSelectionDialog
  isOpen={$state.value === 'picking_task'}
  creationEffort={{ start: $state.context.start, duration: $state.context.end - $state.context.start, dateISO: dateStr }}
  handleFinish={() => send('PICK_TASK')}
  handleClose={() => send('EXIT')}
/>
