<script lang="ts">
  import { onMount } from 'svelte'

  import ColouredBox from './ColouredBox.svelte'
  import EffortDeletionDialog from './EffortDeletionDialog.svelte'
  import { tasks_byCode } from '../stores/tasks'
  import type { Effort } from '../types/types.type'
  import tippy from 'sveltejs-tippy'
  import { week_efforts } from '../stores/efforts'
  import { timeSettings } from '../stores/timeSettings'

  const hourWidth = $timeSettings.hourWidth
  const hourOffset = $timeSettings.earliestHour

  export let effort: Effort

  const { start, duration, taskCode, description } = effort
  $: end = start + duration

  $: width = hourWidth * (end - start) + 1
  $: left = hourWidth * (start - hourOffset)

  let initStart = start
  let initEnd = start + duration

  let initClientLeft: number
  let initClientRight: number
  let deltaX = 0

  type dir = 'fromLeft' | 'fromRight'
  let boxDragDir: dir

  let colour = 'white'
  let isProject: boolean = false
  let taskName: string = ''
  let tooltipHTML: string = ''
  $: {
    const task = $tasks_byCode?.[taskCode]
    isProject = task?.isProject ?? false
    taskName = task?.name ?? ''
    colour = task?.colour ?? 'white'
    tooltipHTML = description
      ? `<div class="mb-2 text-center">${taskName}</div><div class="max-w-xs text-center text-gray-300">${description}</div>`
      : `<div>${taskName}</div>`
  }

  let isDragging = false
  let effortBox: HTMLElement

  let isDeletionDialogOpen = false

  const floorToQtr = (number: number): number => {
    return Math.floor(number * 4) / 4
  }

  // resizing handler (deltaX changes on drag which triggers this code block)
  $: {
    const diff = floorToQtr(deltaX / hourWidth + 0.125)
    if (boxDragDir === 'fromLeft') {
      start = Math.min(end - 0.25, initStart + diff)
    } else {
      end = Math.max(start + 0.25, initEnd + diff)
    }

    // if (!isDragging) {
    //   week_efforts.update({
    //     _id,
    //     _rev,
    //     taskCode,
    //     start,
    //     end,
    //     duration: end - start,
    //   })
    // }
  }

  function handleMouseDown(e: MouseEvent, dir: dir) {
    window.addEventListener('mousemove', handleMouseMove)
    window.addEventListener('mouseup', handleMouseUp)
    boxDragDir = dir
    isDragging = true
  }
  function handleMouseMove(e: MouseEvent) {
    if (isDragging) {
      if (boxDragDir === 'fromLeft') {
        deltaX = e.clientX - initClientLeft
      } else {
        deltaX = e.clientX - initClientRight
      }
    }
  }
  function handleMouseUp(e: MouseEvent) {
    isDragging = false
    window.removeEventListener('mousemove', handleMouseMove)
    window.removeEventListener('mouseup', handleMouseUp)
  }

  onMount(() => {
    const rect = effortBox.getBoundingClientRect()
    initClientLeft = rect.left
    initClientRight = rect.right
  })
</script>

<style>
  .horizDragIndicator {
    z-index: 4;
    position: absolute;
    top: 24px;
    bottom: 24px;
  }
  .horizDragIndicator.left {
    left: 1px;
  }
  .horizDragIndicator.right {
    right: 1px;
  }
  .horizDragIndicator.left:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), transparent);
  }
  .horizDragIndicator.right:hover {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.2), transparent);
  }
</style>

<div
  class="absolute inset-y-0 flex items-center cursor-pointer"
  style="left: {left}px; width: {width}px;"
  bind:this={effortBox}
  on:click={() => (isDeletionDialogOpen = true)}
  title={taskName}
  use:tippy={{ content: tooltipHTML, placement: 'top', allowHTML: true }}
>
  <ColouredBox {colour} cornerOnly={!isProject} />
  <div
    class="horizDragIndicator left hover:bg-gray-700 hover:bg-opacity-25"
    style="width: {hourWidth / 8}px; cursor: ew-resize;"
    on:mousedown|stopPropagation={(e) => handleMouseDown(e, 'fromLeft')}
  />
  <div
    class="horizDragIndicator right hover:bg-gray-700 hover:bg-opacity-25"
    style="width: {hourWidth / 8}px; cursor: ew-resize;"
    on:mousedown|stopPropagation={(e) => handleMouseDown(e, 'fromRight')}
  />
</div>
<EffortDeletionDialog
  isOpen={isDeletionDialogOpen}
  handleFinish={() => (isDeletionDialogOpen = false)}
  handleClose={() => (isDeletionDialogOpen = false)}
  {effort}
/>
