<script lang="ts">
  import { week_efforts } from '../stores/efforts'
  import { fade, fly } from 'svelte/transition'

  export let isOpen = false
  export let handleClose: () => void
  export let handleFinish: () => void

  export let effort: Effort

  const { _id, _rev } = effort
</script>

<style>
  .content-container {
    background: hsl(221, 14%, 36%);
  }
  .buttons-container {
    background: hsl(221, 14%, 36%);
  }
</style>

{#if isOpen}
  <!-- MODAL-BG-->
  <div
    class="fixed top-0 left-0 right-0 z-20 flex items-center h-full bg-gray-900 bg-opacity-85 dialog"
    in:fade={{ duration: 300 }}
    out:fade={{ duration: 150 }}
  >
    <!-- MODAL-->
    <div
      class="flex flex-col mx-auto my-auto rounded-lg shadow-lg"
      in:fly={{ duration: 1000, y: 20 }}
      out:fade
    >
      <!-- CONTENT CONTAINER-->
      <div
        class="p-8 rounded-lg content-container"
        in:fly={{ duration: 300, delay: 200, y: 15 }}
        out:fade
      >
        <!-- QUESTION -->
        <div class="my-2 text-gray-200 text-md">
          Are you sure you want to delete this effort?
        </div>

        <!-- BUTTONS-->
        <div
          class="flex items-center justify-end w-full h-16 gap-4 p-4 mt-auto rounded-lg buttons-container"
        >
          <button
            class="justify-center w-20 px-2 text-gray-200 transition-colors bg-gray-700 rounded hover:bg-gray-500"
            on:click={() => {
              handleClose()
            }}
          >No</button>
          <button
            class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1 disabled:opacity-20"
            on:click={() => {
              week_efforts.remove({ _id, _rev })
              handleFinish()
            }}
          >Delete effort</button>
        </div>
      </div>
    </div>
  </div>
{/if}
