<script lang="ts">
  export let value: string | number
  $: integerPart = value - (value % 1)
  $: nonIntegerPart = (value % 1).toString().substring(1)
  let fraction = ''
  $: {
    if (nonIntegerPart === '.25') {
      fraction = '1/4'
    }
    if (nonIntegerPart === '.5') {
      fraction = '1/2'
    }
    if (nonIntegerPart === '.75') {
      fraction = '3/4'
    }
    if (nonIntegerPart === '') {
      fraction = ''
    }
  }
</script>

<style>
  .dulled {
    @apply opacity-25;
  }
</style>

<div
  class="flex items-end justify-center text-gray-400"
  class:dulled={value === '-'}
>
  {#if value === '-'}
    -
  {:else}
    <div>{integerPart}</div>
    <div style="font-size: 0.5rem; line-height: 2.5; align-self: flex-end;">
      {fraction}
    </div>
  {/if}
</div>
