<script lang="ts">
  import DayTimelineView from './DayTimelineView.svelte'
  import DayLabel from './DayLabel.svelte'
  import WeekControl from './WeekControl.svelte'

  import { weekDates } from '../stores/dates'
  import { week_efforts_byDay } from '../stores/efforts'

  let hoveredRow: Date
  let activeRow: Date
  $: highlightedRow = activeRow || hoveredRow
</script>

<style>
  .controlsBox {
    @apply bg-white;
    @apply bg-opacity-50;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @apply h-20;
    @apply p-8;
    @apply pt-2;
    @apply pb-6;

    @apply -mb-4;
  }
  .contentBox {
    background: hsl(221, 14%, 36%);
    border-radius: 20px;
    @apply py-12;
    @apply pl-4;
    @apply pr-4;
  }

  .dayRow {
    @apply flex;
    @apply justify-center;
    @apply h-24;
    @apply gap-8;
  }
</style>

<div class="controlsBox">
  <WeekControl />
</div>
<div class="contentBox">
  {#each $weekDates as date}
    <div
      class="transition-opacity duration-300 dayRow"
      class:opacity-50={highlightedRow && highlightedRow !== date}
      on:mouseover={() => (hoveredRow = date)}
      on:mouseout={() => (hoveredRow = null)}
    >
      <div class="flex items-center justify-center w-16 opacity-50">
        <DayLabel {date} />
      </div>
      <DayTimelineView
        efforts={$week_efforts_byDay?.[date] ?? []}
        dateStr={date}
      />
    </div>
  {/each}
</div>
