<script>
  // export let startTime = 0 // decimaa hours 24hr clock
  // export let handleClick: () => void
</script>

<style>
  .qtrHourBox {
    position: absolute;
    cursor: pointer;
    margin-right: -1px;
    z-index: 2;
    width: calc(25% + 1px);

    border: 1px solid transparent;
    transition: border-color 0.3s;
  }
  .qtrHourBox:hover {
    border-color: #cccccc88;
  }
</style>

<div class="w-full h-12 qtrHourBox" on:click />
