<script lang="ts">
  import WeekTableView from './WeekTableView.svelte'
</script>

<style>
  .controlsBox {
    @apply bg-white;
    @apply bg-opacity-50;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @apply h-16;

    @apply mt-4;
    @apply -mb-4;
    @apply p-4;
    @apply pt-2;
    @apply pb-6;

    @apply flex;
    @apply justify-between;
  }
  .contentBox {
    background: hsl(221, 14%, 36%);
    border-radius: 20px;

    @apply flex;
    @apply flex-col;
  }
</style>

<div class="controlsBox">
  <button class="summaryButton">Summary</button>
  <button class="chartButton ">Chart</button>
</div>
<div class="contentBox">
  <WeekTableView />
  <!-- <WeekChart /> -->
</div>
