<script lang="ts">
  import { project_tasks, nonProject_tasks } from '../stores/tasks'
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  let selectedTask: string | null = null

  $: {
    dispatch('taskSelected', {
      task: selectedTask,
    })
  }
</script>

<style>
  .selected {
    @apply bg-gray-700;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    @apply cursor-default;
    transition: all 0.15s;
  }
</style>

<!-- PROJECT TASKS -->
<div class="my-2 text-sm text-gray-400">Project tasks</div>
<div class="grid grid-cols-4 gap-4">
  {#each $project_tasks as task}
    <label
      class="flex justify-start w-40 h-16 p-2 transition-colors border-2 rounded-md cursor-pointer hover:bg-gray-700 place-items-center"
      class:selected={selectedTask && selectedTask.code === task.code}
      style="border-color: {task.colour}"
    >
      <span class="w-full text-center text-gray-300">{task.name}</span>
      <input
        type="radio"
        bind:group={selectedTask}
        value={task}
        class="absolute invisible"
      />
    </label>
  {/each}
</div>

<div class="w-full h-6" />

<!-- OTHER TASKS -->
<div class="my-2 text-sm text-gray-400">Other tasks</div>
<div class="grid grid-cols-5 gap-3">
  {#each $nonProject_tasks as task}
    <label
      class="flex justify-start w-32 h-12 p-2 text-sm transition-colors border-2 rounded-md cursor-pointer hover:bg-gray-700 place-items-center"
      class:selected={selectedTask && selectedTask.code === task.code}
      style="border-color: {task.colour}"
    >
      <span class="w-full text-center text-gray-300">{task.name}</span>
      <input
        type="radio"
        bind:group={selectedTask}
        value={task}
        class="absolute invisible"
      />
    </label>
  {/each}
</div>
<button
  class="p-2 mt-4 text-xs opacity-80 hover:bg-gray-500"
  class:invisible={!selectedTask}
  on:click={() => (selectedTask = null)}
>Remove selected task</button>
