<script lang="ts">
  import { fade, fly } from 'svelte/transition'
  import type { Task } from '../types/types.type'
  import TasksView from './TasksView.svelte'
  import TaskEditView from './TaskEditView.svelte'
  import tippy from 'sveltejs-tippy'

  export let isOpen = false
  export let handleClose: () => void

  let editing = false
  let selectedTask: Task | null = null
</script>

<style>
  .content-container {
    background: hsl(221, 14%, 36%);
  }
  .buttons-container {
    background: hsl(221, 14%, 36%);
  }
</style>

{#if isOpen}
  <!-- MODAL-BG-->
  <div
    class="fixed top-0 left-0 right-0 z-20 flex items-center h-full bg-gray-900 bg-opacity-85 dialog"
    in:fade={{ duration: 300 }}
    out:fade={{ duration: 150 }}
  >
    <!-- MODAL-->
    <div
      class="flex flex-col mx-auto my-auto rounded-lg shadow-lg"
      in:fly={{ duration: 1000, y: 20 }}
      out:fade
    >
      <!-- CONTENT CONTAINER-->
      <div
        class="p-8 rounded-lg content-container"
        in:fly={{ duration: 300, delay: 200, y: 15 }}
        out:fade
      >
        {#if !editing}
          <TasksView
            on:taskSelected={(event) => (selectedTask = event.detail.task)}
          />

          <!-- BUTTONS-->
          <div
            class="flex items-center justify-end w-full h-16 gap-4 p-4 mt-auto rounded-lg buttons-container"
          >
            {#if selectedTask}
              <button
                class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1"
                on:click={() => (editing = true)}
              >Edit task</button>
              <button
                class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1 disabled:opacity-50"
                on:click={() => alert("this doesn't do anything yet")}
                use:tippy={{ content: "this just removes the option when creating new efforts - it'll still appear in old timesheets", placement: 'top' }}
              >Disable/hide task</button>
            {:else}
              <button
                class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1"
                on:click={() => (editing = true)}
              >+ Add new task</button>
            {/if}
          </div>
          <!-- BUTTONS-->
          <div
            class="flex items-center justify-end w-full h-16 gap-4 p-4 mt-auto rounded-lg buttons-container"
          >
            <button
              class="px-2 text-gray-200 transition-colors bg-gray-700 rounded hover:bg-gray-500"
              on:click={() => {
                handleClose()
              }}
            >Close</button>
          </div>
        {:else}
          <TaskEditView
            task={selectedTask}
            on:finishedEditing={() => (editing = false)}
          />
        {/if}
      </div>
    </div>
  </div>
{/if}
