<script>
  import HoursText from './HoursText.svelte'
  import TaskColouredSquare from './TaskColouredSquare.svelte'
  import tippy from 'sveltejs-tippy'

  export let name = ''
  export let code = ''
  export let colour = 'white'
  export let diagonalBox = false
  export let weekHours = []
  export let totalHours = ''
</script>

<div class="flex justify-evenly">
  <div class="flex items-center justify-between flex-none w-48 mr-8">
    <div
      class="p-2 taskName align-center"
      style="color: {colour};"
      use:tippy={{ content: code, placement: 'top' }}
    >
      {name}
    </div>
    <TaskColouredSquare {colour} cornerOnly={diagonalBox} />
  </div>

  <!-- hours -->
  {#each weekHours as dayHours}
    <div class="flex items-center justify-center w-16">
      <HoursText value={dayHours || '-'} />
    </div>
  {/each}

  <!-- Total hours by task -->
  <div class="flex items-center justify-center w-24">
    <HoursText value={totalHours || '-'} />
  </div>
</div>
