<script lang="ts">
  import chroma from 'chroma-js'

  export let colour: string
  export let cornerOnly: boolean

  let bgBottomLeft = chroma(colour).css('hsl')
  let bgTopRight = chroma(colour).css('hsl')

  if (cornerOnly) {
    bgBottomLeft = chroma('white').alpha(0).css('hsl')
    bgTopRight = chroma(colour).css('hsl')
  }
</script>

<style>
  .box {
    width: 16px;
    height: 16px;
  }
  .boxInner {
    border-left-color: var(--bgBottomLeft);
    border-bottom-color: var(--bgBottomLeft);

    border-top-color: var(--bgTopRight);
    border-right-color: var(--bgTopRight);
  }
</style>

<div
  class="flex-none box"
  style="--bgTopRight:{bgTopRight}; --bgBottomLeft:{bgBottomLeft};"
>
  <div class="border-8 boxInner" />
</div>
