<script lang="ts">
  import { project_tasks, nonProject_tasks } from '../stores/tasks'
  import { week_efforts } from '../stores/efforts'
  import { fade, fly } from 'svelte/transition'
  import { onDestroy } from 'svelte'

  let selectedTaskCode: null | string = null
  export let creationEffort = {
    start: 8,
    // end: 12.25,
    duration: 4.25,
  }
  export let isOpen = false
  export let handleClose: () => void
  export let handleFinish: () => void

  let description: string = ''
</script>

<style>
  .selected {
    @apply bg-gray-700;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    @apply cursor-default;
    transition: all 0.15s;
  }
  .content-container {
    background: hsl(221, 14%, 36%);
  }
  .buttons-container {
    background: hsl(221, 14%, 36%);
  }
</style>

{#if isOpen}
  <!-- MODAL-BG-->
  <div
    class="fixed top-0 left-0 right-0 z-20 flex items-center h-full bg-gray-900 bg-opacity-85 dialog"
    in:fade={{ duration: 300 }}
    out:fade={{ duration: 150 }}
  >
    <!-- MODAL-->
    <div
      class="flex flex-col mx-auto my-auto rounded-lg shadow-lg"
      in:fly={{ duration: 1000, y: 20 }}
      out:fade
    >
      <!-- CONTENT CONTAINER-->
      <div
        class="p-8 rounded-lg content-container"
        in:fly={{ duration: 300, delay: 200, y: 15 }}
        out:fade
      >
        <!-- HOURS IN EFFORT-->
        <div class="flex justify-between mb-8">
          <div class="p-2 text-gray-300 border border-gray-300 opacity-75">
            (Put timeline here later)
          </div>
          <div>
            <span class="text-3xl text-gray-200">{creationEffort?.duration}
              hours</span>
          </div>
        </div>

        <div class="w-full h-6" />

        <!-- PROJECT TASKS -->
        <div class="my-2 text-sm text-gray-400">Project tasks</div>
        <div class="grid grid-cols-4 gap-4">
          {#each $project_tasks as task}
            <label
              class="flex justify-start w-40 h-16 p-2 transition-colors border-2 rounded-md cursor-pointer hover:bg-gray-700 place-items-center"
              class:selected={selectedTaskCode === task.code}
              style="border-color: {task.colour}"
            >
              <span class="w-full text-center text-gray-300">{task.name}</span>
              <input
                type="radio"
                bind:group={selectedTaskCode}
                value={task.code}
                class="absolute invisible"
                on:click={() => (selectedTaskCode = task.code)}
              />
            </label>
          {/each}
        </div>

        <div class="w-full h-6" />

        <!-- OTHER TASKS -->
        <div class="my-2 text-sm text-gray-400">Other tasks</div>
        <div class="grid grid-cols-5 gap-3">
          {#each $nonProject_tasks as task}
            <label
              class="flex justify-start w-32 h-12 p-2 text-sm transition-colors border-2 rounded-md cursor-pointer hover:bg-gray-700 place-items-center"
              class:selected={selectedTaskCode === task.code}
              style="border-color: {task.colour}"
            >
              <span class="w-full text-center text-gray-300">{task.name}</span>
              <input
                type="radio"
                bind:group={selectedTaskCode}
                value={task.code}
                class="absolute invisible"
                on:click={() => (selectedTaskCode = task.code)}
              />
            </label>
          {/each}
        </div>

        <div class="w-full h-6" />

        <!-- DESCRIPTION -->
        <div class="my-2 text-sm text-gray-400">Description</div>
        <textarea
          bind:value={description}
          rows="2"
          maxlength="100"
          class="w-1/2 px-4 py-2 text-gray-300 bg-gray-500 resize-none"
          placeholder="Add a short description here if you like. This'll show up on the task on hover"
        />

        <!-- BUTTONS-->
        <div
          class="flex items-center justify-end w-full h-16 gap-4 p-4 mt-auto rounded-lg buttons-container"
        >
          <button
            class="px-2 text-gray-200 transition-colors bg-gray-700 rounded hover:bg-gray-500"
            on:click={() => {
              handleClose()
              selectedTaskCode = null
              description = ''
            }}
          >Close</button>
          <button
            class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1 disabled:opacity-20"
            disabled={selectedTaskCode === null}
            on:click={() => {
              week_efforts.add({
                taskCode: selectedTaskCode,
                end: creationEffort.start + creationEffort.duration,
                description: description,
                ...creationEffort,
              })
              handleFinish()
              description = ''
            }}
          >Assign task</button>
        </div>
      </div>
    </div>
  </div>
{/if}
