<script lang="ts">
  import type { Task } from '../types/types.type'
  import { tasks } from '../stores/tasks'
  import ColourPicker from './ColourPicker.svelte'
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  export let task: Task | null = null
  let name = ''
  let code = ''
  let isProject = false
  let colour = ''
  let _id: string | null = null

  if (task !== null) {
    name = task.name
    code = task.code
    isProject = task.isProject
    colour = task.colour
    _id = task._id
  }
  const handleClick = () => {
    const updatedTask = {
      name,
      code,
      isProject,
      colour,
      _id: _id ?? code,
      _rev: task?._rev ?? null,
    }

    if (_id === null) {
      // NEW TASK
      tasks.add(updatedTask)
    } else {
      // EDIT TASK
      tasks.update(updatedTask)
    }
    dispatch('finishedEditing') // to go back to previous screen
  }
  const handleGoBack = () => {
    task = null
    dispatch('finishedEditing')
  }
</script>

<form class="grid grid-cols-2">
  <div class="col-span-2">
    <button
      class="px-2 text-gray-200 transition-colors bg-gray-700 rounded hover:bg-gray-500"
      on:click={handleGoBack}
    >Go back</button>
  </div>
  <!-- LHS-->
  <div>
    <!-- NAME -->
    <div class="my-2 text-sm text-gray-400">Name</div>
    <input bind:value={name} class="text-gray-700" />
    <div class="w-full h-6" />

    <!-- CODE -->
    <div class="my-2 text-sm text-gray-400">Task Code</div>
    <input bind:value={code} class="text-gray-700" />
    <div class="w-full h-6" />

    <!-- IS PROJECT? -->
    <div class="my-2 text-sm text-gray-400">Is it a project?</div>
    <input type="checkbox" bind:checked={isProject} />
    <div class="w-full h-6" />
  </div>

  <!-- RHS -->
  <div>
    <div class="my-2 text-sm text-gray-400">Colour</div>
    <ColourPicker
      selectedColour={colour}
      on:colourChanged={(event) => (colour = event.detail.colour)}
    />
  </div>

  <!-- BUTTONS -->
  <div class="flex justify-end col-span-2">
    <button
      class="px-2 text-gray-600 transition-transform bg-gray-200 rounded transform-gpu hover:-translate-y-1"
      on:click={handleClick}
    >{#if _id === null}Add new task{:else}Finalise task edits{/if}</button>
  </div>
</form>
