<script lang="ts">
  import { week_total_hours } from '../stores/efforts'
</script>

<style>
</style>

<div class="inline-block text-2xl font-bold text-gray-600">
  {$week_total_hours}
</div>
<div class="inline-block text-gray-500 uppercase whitespace-pre">
  <span> hours</span>
</div>
