<script lang="ts">
  import { weekDates } from '../stores/dates'
  import { project_tasks, nonProject_tasks } from '../stores/tasks'
  import {
    week_efforts_byTask,
    week_efforts_byDay,
    week_total_hours,
  } from '../stores/efforts'
  import * as R from 'ramda'

  import TotalWeekHours from './TotalWeekHours.svelte'
  import DayLabel from './DayLabel.svelte'
  import TaskRow from './TaskRow.svelte'

  const filterByMatchingDate = (date: string) =>
    R.filter(R.propEq('dateISO', date))

  const mapByDuration = R.map(R.prop('duration'))

  const sumEffortDurationsByDay = (date: string) =>
    R.pipe(filterByMatchingDate(date), mapByDuration, R.sum)

  const sumEffortDurations = R.pipe(mapByDuration, R.sum)
</script>

<style>
  .weekGrid {
    display: grid;
    grid-template-columns: minmax(auto, 14rem) repeat(6, minmax(4rem, 1fr));
    grid-template-rows: auto;
    margin: 8px;
  }
  ::-webkit-scrollbar {
    background: hsl(221, 14%, 36%);
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(221, 14%, 80%);
    padding: 0 2px;
    border-radius: 10px;
  }
</style>

<div
  class="flex flex-col items-center gap-2 p-3 overflow-hidden justify-evenly"
>
  <div class="pl-6 mt-4 mr-auto">
    <TotalWeekHours />
  </div>

  <div class="container max-w-2xl px-4">
    <!-- top row-->
    <div class="flex justify-evenly">
      <div class="flex-none w-48 mr-8" />
      {#each $weekDates as date}
        <div class="w-16 opacity-50">
          <DayLabel {date} />
        </div>
      {/each}
      <div class="w-24 pt-2 text-center opacity-50">Total</div>
    </div>

    <div class="w-full h-2" />

    <!-- row for Total hours by day -->
    <TaskRow
      name="Total"
      colour="#ccc"
      weekHours={[sumEffortDurations($week_efforts_byDay[$weekDates[0]] ?? []), sumEffortDurations($week_efforts_byDay[$weekDates[1]] ?? []), sumEffortDurations($week_efforts_byDay[$weekDates[2]] ?? []), sumEffortDurations($week_efforts_byDay[$weekDates[3]] ?? []), sumEffortDurations($week_efforts_byDay[$weekDates[4]] ?? [])]}
      totalHours={$week_total_hours ?? 0}
    />

    <div class="w-full h-6" />

    <!-- task rows (project) -->
    {#each $project_tasks as task (task.code)}
      <TaskRow
        name={task.name}
        colour={task.colour}
        code={task.code}
        diagonalBox={!task.isProject}
        weekHours={[sumEffortDurationsByDay($weekDates[0])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[1])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[2])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[3])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[4])($week_efforts_byTask[task.code] ?? [])]}
        totalHours={sumEffortDurations($week_efforts_byTask[task.code] ?? [])}
      />
    {/each}

    <div class="w-full h-6" />

    <!-- task rows (non-project) -->
    {#each $nonProject_tasks as task (task.code)}
      <TaskRow
        name={task.name}
        colour={task.colour}
        code={task.code}
        diagonalBox={!task.isProject}
        weekHours={[sumEffortDurationsByDay($weekDates[0])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[1])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[2])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[3])($week_efforts_byTask[task.code] ?? []), sumEffortDurationsByDay($weekDates[4])($week_efforts_byTask[task.code] ?? [])]}
        totalHours={sumEffortDurations($week_efforts_byTask[task.code] ?? [])}
      />
    {/each}
  </div>
</div>
