<script lang="ts">
  import { selectedWeekDate } from '../stores/dates'
  import { format, addDays } from 'date-fns'

  $: monToFri = ''
  $: monthYear = ''
  $: {
    const mon = format($selectedWeekDate, 'EE do')
    const fri = format(addDays($selectedWeekDate, 4), 'EE do')
    monToFri = `${mon} - ${fri}`

    monthYear = format($selectedWeekDate, 'MMMM yyyy')
  }
</script>

<style>
  .weekControl {
    @apply flex;
    @apply justify-between;
    @apply items-center;
  }

  .text {
    @apply flex;
    @apply flex-col;
    @apply w-64;
  }
  .week {
    @apply text-2xl;
    @apply font-bold;
    @apply leading-tight;
  }
  .month {
    @apply text-opacity-75;
    @apply leading-none;
  }
</style>

<div class="weekControl">
  <div class="flex lhs">
    <div class="text">
      <div class="week">{monToFri}</div>
      <div class="month">{monthYear}</div>
    </div>
    <div class="flex items-center gap-4 ml-4">
      <button
        class="flex justify-center transition duration-100 hover:bg-gray-300"
        on:click={selectedWeekDate.backOneWeek}
      >Back</button>
      <button
        class="flex justify-center transition duration-100 hover:bg-gray-300"
        on:click={selectedWeekDate.forwardOneWeek}
      >Forward</button>
    </div>
  </div>
  <div class="rhs">
    <button class="jumpToWeekButton disabled:opacity-50" disabled>Jump to Week</button>
  </div>
</div>
