<script lang="ts">
  import LeftBox from './components/LeftBox.svelte'
  import RightBox from './components/RightBox.svelte'
  import TasksEditDialog from './components/TasksEditDialog.svelte'
  import './TailwindStyles.svelte'

  let message: string = 'Learn Svelte with Typescript'
  let isTasksDialogOpen = false
</script>

<style>
  :global(body) {
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    height: 100vh;
    @apply bg-gray-100;
    @apply text-white;
  }
  .page {
    @apply absolute;
    @apply w-screen;
    @apply h-screen;
    @apply p-6;
    @apply flex;
    @apply flex-col;
  }

  .banner {
    @apply absolute;
    @apply w-full;
    @apply h-full;
  }
  .gradient {
    /* background-image: linear-gradient(
      122deg,
      hsl(266, 100%, 51%),
      hsl(199, 100%, 50%)
    ); */
    background: linear-gradient(122deg, #7205ff -20%, hsl(199, 100%, 50%) 100%);

    @apply absolute;
    @apply w-full;
    @apply h-2/5;
  }

  header {
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply h-1/5;
  }

  .header-title {
    @apply p-6;
  }
  .header-title__title {
    @apply font-bold;
    @apply text-xl;
    @apply text-white;
    @apply text-opacity-100;
  }
  .header-title__desc {
    @apply text-white;
    @apply text-sm;
    @apply text-opacity-75;
  }

  .header-controls-section {
    @apply max-w-4xl;
    @apply flex;
  }

  main {
    @apply h-4/5;

    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply gap-8;
  }

  @screen xl {
    main {
      @apply flex-row;
      @apply justify-evenly;
    }
  }
  section.leftBox {
    @apply max-w-6xl;
    width: 50rem;
    min-width: 45rem;
    @apply mx-auto;
  }
</style>

<svelte:head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    rel="stylesheet"
  />
</svelte:head>

<div class="banner">
  <div class="gradient" />
</div>
<div class="overflow-x-hidden page">
  <header>
    <div class="header-title">
      <div class="header-title__title">Time Tracker</div>
      <div class="header-title__desc">Track your work efforts on the fly.</div>
      <div class="header-title__desc">
        Data is saved to your device's browser, it's offline-only.
      </div>
    </div>
    <div class="header-controls-section">
      <button
        class="flex justify-center transition duration-100 hover:bg-gray-300"
        on:click={() => (isTasksDialogOpen = true)}
      >Edit Tasks</button>
    </div>
  </header>

  <main>
    <section class="leftBox">
      <LeftBox />
    </section>
    <section class="flex flex-col hidden">
      <div class="w-32 h-12 bg-blue-100" />
      <div class="flex flex-col flex-initial w-32 overflow-hidden bg-blue-800">
        <h1 class="flex-none h-32 color-blue-300">title</h1>
        <div class="flex-initial overflow-y-auto" style="min-height: 30rem">
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
          <div class="w-full h-12 border border-gray-300">row</div>
        </div>
      </div>
    </section>
    <section class="flex flex-col mb-16 rightBox">
      <RightBox />
    </section>
  </main>
</div>

<TasksEditDialog
  isOpen={isTasksDialogOpen}
  handleClose={() => (isTasksDialogOpen = false)}
/>
